@import 'Styles/responsive.scss';
@import 'Styles/common/_variables';

.about-container {
  .dahee-container {
    > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
      @include mobile {
        flex-direction: column;
      }
      @include desktop {
        gap: 24px;
      }
    }
    .left-content {
      img {
        width: 146px;
        min-width: 146px;
        height: 146px;
        min-height: 146px;
        border-radius: 50%;
      }
    }
    .chip-container {
      display: inline-flex;
      gap: 8px;
      margin-bottom: 8px;
      a {
        display: flex;
        &:hover {
          text-decoration: underline;
        }
      }
      @include desktop {
        gap: 12px;
      }
    }
  }
  .skill-container {
    .ability-container {
      margin-bottom: 20px;

      &:last-child {
        margin: 0;
      }
      h2 {
        margin-bottom: 8px;
      }
      h3 {
        margin-bottom: 4px;
      }
      .color-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 4px;
        .color {
          width: 16px;
          height: 16px;
          min-width: 16px;
          min-height: 16px;
          margin-left: 8px;
          margin-right: 4px;
          border-radius: 4px;
          &:first-child {
            margin-left: 0;
          }
          &.analytics {
            background-color: #dbeddb;
          }
          &.tool {
            background-color: #e3e2e0;
          }
          &.infra {
            background-color: #fadec9;
          }
        }
      }
      .skill-detail-container {
        margin-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;
            &:nth-child(2) {
              margin-left: 4px;
            }
            &.java {
              path {
                fill: #3a75b0;
              }
            }
          }
        }
      }
    }
  }
  .career-container {
    .naamezip-activity {
      margin-bottom: 32px;
      @include desktop {
        margin-bottom: 40px;
      }
      h2 {
        margin-bottom: 12px;
      }
      .items-container {
        cursor: pointer;
        display: flex;
        gap: 20px 20px;
        flex-wrap: wrap;
        @include tablet {
          flex-wrap: nowrap;
          // gap: 20px;
        }
        > div {
          width: calc(50% - 10px);
          border-radius: 4px;
          background-color: $greyscale1;
          color: $greyscale9;
          box-shadow: #5b5b5be6 0px 3px 7px;
          height: fit-content;
          @include tablet {
          }
          &:hover {
            background-color: $cream2;
          }
          h3 {
            border-top: 1px solid #ddd;

            padding: 12px 20px;
          }
          .image-container {
            width: 100%;
            height: 30vw;
            overflow: hidden;
            min-height: 108px;
            @include tablet {
              height: 20vw;
            }
            @include desktop {
              height: 15vw;
              max-height: 192px;
            }
          }
          img {
            transform: scale(1.5);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
    .job-desc-wrapper {
      margin-bottom: 32px;
      &:last-child {
        margin: 0;
      }
      @include tablet {
        display: flex;
        gap: 40px;
      }
      @include desktop {
        margin-bottom: 40px;
      }
      .company-icon {
        @include mobile {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;
          br {
            display: none;
          }
          svg {
          }
        }
        h2 {
          margin: 0 0 4px;
          @include tablet {
            margin-top: 20px;
            margin-bottom: 12px;
          }
          a {
            color: $cream;
          }
        }
        h3 {
          @include tablet {
            width: 150px;
          }
        }
      }
      .activicy-description {
        ol,
        ul {
          padding-left: 20px;
          margin: 0;
        }
        > ul,
        > ol {
          > li {
            margin-bottom: 4px;
            margin-top: 12px;
            &:first-of-type {
              margin-top: 0;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .education-container {
    .education-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;

      &:last-child {
        margin: 0;
      }
      @include tablet {
        flex-direction: row;
        gap: 16px;
        margin-bottom: 20px;
      }
      @include desktop {
        gap: 24px;
      }
      .school {
        width: 100%;
        @include tablet {
          width: 250px;
        }

        &-info {
          h4 {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  .certificate-container {
    .certificate-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;

      &:last-child {
        margin: 0;
      }
      @include tablet {
        flex-direction: row;
        gap: 16px;
        margin-bottom: 20px;
      }
      @include desktop {
        gap: 24px;
      }
      .certificate {
        width: 100%;
        @include tablet {
          width: 250px;
        }

        &-info {
          h4 {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  .experience-container {
    > div {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .experience-item-container {
        width: calc(50% - 10px);
        background-color: $cream1;
        border-radius: 12px;
        padding: 20px 12px 40px;
        word-break: break-all;
        position: relative;
        @include tablet {
          padding: 20px 20px 40px;
        }
        h3 {
          color: $greyscale9;
          border-bottom: 1px solid $greyscale5;
          padding-bottom: 4px;
          margin-bottom: 4px;
        }
        h4 {
          color: $greyscale8;
        }
        .gotoButton {
          color: $greyscale8;
          text-align: right;
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
        &:hover {
          background-color: $cream2;
          .gotoButton {
            color: $greyscale9;
          }
        }
      }
    }
  }
}
