// greyscale
$greyscale1: #fff;
$greyscale2: #fbfaf8;
$greyscale3: #f6f6f6;
$greyscale4: #ededed;
$greyscale5: #ddd;
$disable: #ddd;
$greyscale6: #b2b2b2;
$secondary: #b2b2b2;
$greyscale7: #919191;
$placeholder: #919191;
$greyscale8: #707070;
$caption: #707070;
$greyscale9: #212121;
$primary: #212121;

$cream: #fffdf1;
$cream1: #fffdf1;
$cream2: #f4f1e2;
$cream3: #e1decd;
$cream4: #c6c3ae;
$cream5: #ada992;

$background: #1b1b1e;
// size
$max-size: 768px;
