@import 'Styles/responsive.scss';
@import 'Styles/common/_variables';

.main-container {
  position: relative;
  min-height: 360px;
  width: 100%;
  background-color: #2b2b2b;
  color: $cream;
  word-break: keep-all;

  .inner-container {
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 0 auto;
    @include desktop {
      width: calc(100% - 140px);
    }
  }
  .introduce-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .content-wrapper {
      max-width: 1140px;
      width: calc(100% - 40px);
      margin-bottom: 80px;
      @include desktop {
        margin-bottom: 120px;
      }
      .typing-area {
        font-size: 48px;
        white-space: pre-wrap;
        text-align: left;
        @include desktop {
          font-size: 60px;
        }
      }
    }
    .lottie-wrapper {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      width: 50px;
      margin: 0 auto;
    }
  }
  .index-container {
    position: sticky;
    top: 0;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    ul {
      height: 60px;
      padding: 0;
      max-width: 1140px;
      width: calc(100% - 40px);
      margin: 0 auto;
      display: flex;
      list-style: none;
      gap: 24px;
      @include desktop {
        height: 68px;
        width: calc(100% - 140px);
      }
      li {
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $greyscale8;
        &.highlight {
          color: $greyscale9;
        }
      }
      div {
        width: 20px;
        min-width: 20px;
        @include desktop {
          width: 70px;
          min-width: 70px;
        }
      }
    }
  }
  .about-container {
    padding: 70px 0 140px;

    > div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
      @include mobile {
        flex-direction: column;
      }
    }
    .left-content {
      img {
        width: 146px;
        min-width: 146px;
        height: 146px;
        min-height: 146px;
        border-radius: 50%;
      }
    }
    .chip-container {
      display: inline-flex;
      gap: 8px;
      margin-bottom: 8px;
      a {
        display: flex;
        &:hover {
          text-decoration: underline;
        }
      }
      @include desktop {
        gap: 12px;
      }
    }
  }
}
// .main-container {
//   max-width: 1280px;
//   width: 100%;
//   padding: 0 20px;
//   background-color: #fff;
//   position: relative;

//   @include desktop {
//     padding: 0 70px;
//   }
// }
